[Unit]
Description="{{ mattermost_description }}"
After=local-fs.target
After=mmdb.service
After=mmnet.network
Wants=mmnet.network

[Container]
AutoUpdate=registry
EnvironmentFile={{ mattermost_env_dir }}/mattermost.env
# to update get latest version number from
# https://hub.docker.com/r/mattermost/mattermost-team-edition/tags
Image={{ mattermost_container_image }}
Label=app=mattermost
Network=mmnet.network
PublishPort=8065:8065
UserNS=keep-id:uid=2000,gid=2000
Volume={{ mattermost_config_dir }}:/mattermost/config:Z
Volume={{ mattermost_data_dir }}:/mattermost/data:Z
Volume={{ mattermost_logs_dir }}:/mattermost/logs:Z
Volume={{ mattermost_plugins_dir }}:/mattermost/plugins:Z
Volume={{ mattermost_client_plugins_dir }}:/mattermost/client/plugins:Z
Volume={{ mattermost_bleve_indexes_dir }}:/mattermost/bleve-indexes:Z

[Service]
TimeoutStartSec=900

[Install]
WantedBy=default.target
