[Unit]
Description="{{ mattermost_description }} postgresql"
After=local-fs.target
After=mmnet.network
Before=mmapp.service
Wants=mmnet.network

[Container]
AutoUpdate=registry
EnvironmentFile={{ mattermost_env_dir }}/mattermost.env
Image=docker.io/postgres:13-alpine
Label=app=postgres
Network=mmnet.network
#PublishPort=5432:5432
Tmpfs=/tmp
Tmpfs=/var/run/postgresql
UserNS=keep-id
Volume={{ mattermost_database_dir }}:/var/lib/postgresql/data:Z

[Service]
TimeoutStartSec=900

[Install]
WantedBy=default.target
